body{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}

/* banner style */
.header{
  */
  height: 830px;
    background: rgba(229, 84, 115, 0.10);
    padding: 50px 150px;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;

}

.banner-content{
    width: 50%;
}
.banner img{
    width: 50%;
    height: 800px;
}

.banner-title{
    color: #272727;
    font-size: 0px;
    font-weight: 800;
}

.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
}

.btn-shop-now{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    background-color: #E55473;
    border: 0;
    border-radius: 8px;
    padding: 20px 40px;
}

/* our feuture style */
.our-feature{
    
}


.section-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.section-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    text-align: center;
}

.flower-container{
    display: flex;
    align-items: center;
 
}

.flower{
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    height: 530px;
    margin-right: 20px;
    padding: 110px 70px 0px;

}
.flower img{
    height: 530px;
}